#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: white;
}

/* Specific products */
#dsa { flex-basis: 50%; background-color: rgb(137, 0, 35); align-self: center; }
#mern { flex-basis: 30%; height: 75px; background-color: rgb(243, 127, 27); }
#acciojob { flex-basis: 75%; order: 1; background-color: rgb(98, 110, 227); }
#buisness-analytics { flex-basis: 40%; order: 2; margin-right: 10px; align-self: flex-end; background-color: rgb(17, 150, 126); }
#spring { flex: 1; height: 75px; }

